body {
  background-color: #f1e3d3;
}
h1,
p {
  text-align: center;
  margin: 1.5em;
}
main {
  background-color: #99c1b9;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 33vw;
  padding: 4em;
  border-radius: 6px;
}

input[type="range"] {
  width: 300px; /* Set the desired width for the slider */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px; /* Set the desired width for the slider handle */
  height: 32px; /* Set the desired height for the slider handle */
}
.line {
  height: 50px;
  width: 5px;
  border-radius: 2px;
  background-color: #8e7dbe;
  margin-right: 3em;
}
.lines-container,
.bubbles-container {
  display: flex; /* Set the display property to flex for horizontal layout */
  justify-content: center;
}
.bubble {
  height: 40px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5em;
}

.footer-icons {
  font-size: 2em;
  top: 15em;
  display: block;
  margin: 0 auto;
}
