* {
  box-sizing: border-box;
}
body {
  background-color: #f1e3d3;
  font-family: "Karla", sans-serif;
}

h1,
h2,
p {
  text-align: center;
  margin: 1.5em;
}

img {
  max-width: 50px;
  margin-top: 3em;
}

main {
  background-color: #99c1b9;
  text-align: center;
  margin: 0 auto;
  margin-top: 2.5em;
  padding: 4em;
  max-width: 40vw;
  border-radius: 6px;
  /* overflow: hidden; */
}
.items-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 25vh;
  margin-bottom: -10px;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  transition: height 1s ease-in-out;
  width: 5px;
  background-color: #8e7dbe;
}
.column img {
  margin: 0.5em;
}
.content {
  position: relative;
  top: -100px;
}
.percent {
  opacity: 0;
  font-weight: 600;
  margin-bottom: 0;
}
.bubble {
  display: flex; /* Add display flex */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  color: black;
  height: 2.5em;
  width: 5em;
  background-color: white;
  font-size: 1em;
  border-radius: 5em;
}

input[type="range"] {
  -webkit-appearance: none; /* WebKit/Blink */
  -moz-appearance: none; /* Gecko */
  appearance: none; /* Standard */
  background-color: #8e7dbe;
  border-radius: 0.5em;
  width: 100%;
  height: 5px;
  margin-top: 0;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: none;
  -webkit-appearance: none;
  background: transparent;
  background-image: url("images/moon.svg");
  width: 3em;
  height: 3em;
}

button {
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 1em;
  padding: 1.25em 2.5em;
  border-radius: 6px;
  color: #f1e3d3;
  background-color: #8252ab;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: #99c1b9;
}
footer {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  font-size: 3em;
}
footer a {
  color: #8252ab;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  margin-right: 0.5em;
}
footer a:hover {
  color: #99c1b9;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger */
  }
}

#slideText {
  animation: pulseAnimation 1.5s 2; /* Apply animation */
}
